table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

tr{
    margin-top:30px;
    margin-left:15px;
color:black;
}
th{
    margin-top:30px;
    margin-left:15px;
    color:black;
   background:grey;
  
}