body {
  margin: 5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
  grid-gap: 2.5vw;
  background-color: rgb(41, 28, 41);
  
}

.box {
  background-color: rgb(90, 8, 241);
  color:whitesmoke;
  border-radius: 0.25vw;
  padding: 4vw;
  font-size: 2.5vw;
  text-align: center;
}

.end-game-button{
  background-color: #bada55;
}