body {
  margin: 5rem;
}

.wrapper {
  display: flex;
  width: 100vw;
  flex-flow: wrap;
  background-color:   rgba(64, 98, 187, 1);
  /* width: 100; */
  /*
  display: grid;
  grid-template-columns: 21vw 14vw 14vw;
  grid-template-rows: 6vh 6vh 6vh;
  grid-gap: 4vw;
  background-color:#B3E5FC;
  width: 50vw;
  */
  /* change scroll properties and overflow */
}
/* .component-wrapper {
  display: flex;
  width: 90vw;
  flex-flow: wrap;
  border: 1px solid black;
  justify-content:center;
} */

  component-wrapper {
    display: flex;
    width: 100vw;
    flex-flow: wrap;
    padding-right: 21px;
    justify-content: center;
}

.input {
  display: grid;
  grid-template-columns: 28vw 23vw 23vw;
  grid-template-rows: 6vh;
  grid-gap: 4vw 5vw;
  background-color:  rgba(64, 98, 187, 1);
  width: 95vw;
  justify-content: center;
  padding-bottom: 3vw;
  /* change scroll properties and overflow */
}

.score {
  display: grid;
  grid-template-columns: 28vw 23vw 23vw;
  grid-template-rows: 6vh;
  grid-gap: 4vw 5vw;
  background-color:  rgba(64, 98, 187, 1);
  padding-top: 1vw;
  padding-bottom: 3vw;
  width: 95vw;
  justify-content: center;
}
.average-title {
  text-align: center;
}
.averages {
  display: grid;
  grid-template-columns: 28vw 23vw 23vw;
  grid-template-rows: 6vh 6vh 6vh;
  grid-gap: 4vw 5vw;
  background-color:   rgba(64, 98, 187, 1);
  padding-top: 1vw;
  width: 95vw;
  justify-content: center;
}
.box {
  background-color:  rgba(89, 195, 195, 1);
  color:  rgba(82, 72, 156, 1);
  
  /* border-radius: 0.25vw;
  padding: 1vw;
  font-size: 4vw; */
  /* width: 22vw; */
  /* height: 6vh; */
  text-align: center;
  border: 1px solid wheat;
  justify-content: center;
  /* box-shadow: 3px 3px 5px 6px; */
}

.number {
  font-size: 1.30rem;
}
.label {
  font-size: 1.25rem
}

.buttonBoxL {
  background-color:rgba(89, 195, 195, 1);
  width: 34vw;
}
.buttonBoxR {
  background-color: rgba(89, 195, 195, 1);
  width: 34vw;
}
/* .end-game-button{
  background-color: #bada55;
} */

.buttons {
  display: grid;
  grid-template-columns: 25vw 25vw;
  grid-template-rows: 6vh;
  grid-gap: 4vw;
  background-color:  rgba(64, 98, 187, 1);
  padding-top: 5vw;
  justify-content: center;
  width: 100vw;
}

@media only screen and (max-width: 375px) {
  .wrapper {
  }
}
