.userprofile_wrapper {
    display:flex;
    flex-direction: column;
    color:black;
}
.username{
    color:rgba(64, 98, 187, 1);
    text-shadow: black 0.05em 0.05em 0.1em;
    font-family: 'Permanent Marker', cursive;
}
.box1 {
    color: rgba(64, 98, 187, 1);
}

.box3{
}

.wrapper{
    display: flex;
    flex-direction: column;
}