.userprofile_wrapper {
    display:flex;
    flex-direction: column;
    color:black;
}

.box {
    color: #1A237E;
}

.box3{
    color: rgb(205, 183, 255);
}

.wrapper{
    display: flex;
    flex-direction: column;
}