body{
    background-color: rgba(64, 98, 187, 1);
}
.openingDiv {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(64, 98, 187, 1);
}

.cribsmack {
    font-family: 'Permanent Marker', cursive;
    font-size: 7rem;
    color: rgba(244, 91, 105, 1);
    text-shadow: black 0.1em 0.1em 0.2em;
}

.landing-caption {
    margin-top: 5rem;
    color:rgb(52, 230, 230);


}

.getStrtdButton {
    min-width:20%;
    min-height: 10%;
    min-width: 200px;
    margin-top: 10rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 26px 5px rgba(0, 0, 0, 0.247);
    background: rgb(52, 230, 230);
    color: rgba(64, 98, 187, 1);
    font-size: 1.5rem;

}
